# Gruppe Beta - Doom Hamsters

Michelle Ferizaj <michellefe@edu.aau.at>
Alexander Karner <alexanderkarner16@gmail.com>
Olha Kupar <olhaku@edu.aau.at> OlhaKupar <kupar@proagent.at>
Olha Kupar <olhaku@edu.aau.at> <84661629+olgakupar@users.noreply.github.com>
Manuel Ruzicka <Ruzicka365@gmail.com>
Christian Sereinig <christian.sereinig1@gmail.com>
Michael Sereinig <michael.sereinig1@gmail.com>
Maksym Shekhovtsov <alexeymaxim@gmail.com>

